<?php echo $this->doctype(); ?>
<html lang="en"> 
    <head>
        <META HTTP-EQUIV="CONTENT-TYPE" CONTENT="text/html; charset=UTF-8">
        <meta http-equiv="Cache-control" content="public">
        <META HTTP-EQUIV="EXPIRES" CONTENT="<?php echo gmdate("D, d M Y H:i:s", time() + (60*60)) . " GMT"; ?>">
        <meta http-equiv="cleartype" content="on">
        <meta name="MobileOptimized" content="767">
        <meta name="HandheldFriendly" content="True">
        <meta name='mobile-web-app-capable' content='yes'>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable = no">
        <link rel="shortcut icon" href="<?php echo $this->url('home'); ?>img/favicon/favicon.ico" type="image/x-icon">
        <link rel="icon" href="<?php echo $this->url('home'); ?>img/favicon/favicon.ico" type="image/x-icon">
        <link rel="icon" type="image/png" sizes="32x32" href="<?php echo $this->url('home'); ?>img/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="<?php echo $this->url('home'); ?>img/favicon/favicon-96x96.png">
        <link rel="apple-touch-icon" sizes="57x57" href="<?php echo $this->url('home'); ?>img/icon/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="<?php echo $this->url('home'); ?>img/icon/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="<?php echo $this->url('home'); ?>img/icon/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="<?php echo $this->url('home'); ?>img/icon/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="<?php echo $this->url('home'); ?>img/icon/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="<?php echo $this->url('home'); ?>img/icon/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="<?php echo $this->url('home'); ?>img/icon/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="<?php echo $this->url('home'); ?>img/icon/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="<?php echo $this->url('home'); ?>img/icon/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="<?php echo $this->url('home'); ?>img/favicon/favicon.ico">
        <link rel="icon" type="image/png" sizes="32x32" href="<?php echo $this->url('home'); ?>img/favicon/favicon.ico">
        <link rel="icon" type="image/png" sizes="96x96" href="<?php echo $this->url('home'); ?>img/favicon/favicon.ico">
        <link rel="icon" type="image/png" sizes="16x16" href="<?php echo $this->url('home'); ?>img/favicon/favicon.ico">
        <link rel="manifest" href="<?php echo $this->url('home'); ?>manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="<?php echo $this->url('home'); ?>img/icon/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">
        <meta name='application-name' content='ZF3'>
	    <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name='apple-mobile-web-app-status-bar-style' content='black'>
        <meta name='apple-mobile-web-app-title' content='ZF3'>
	    <link rel="apple-touch-startup-image" href="<?php echo $this->url('home'); ?>img/icon/apple-icon-180x180.png">
	    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
        <META NAME="AUTHOR" CONTENT="Tonytoons">
        <META name="revisit-after" content="7 days">
        <META NAME="COPYRIGHT" CONTENT="&copy; <?php echo date('Y') ?> ZF3">
        <title><?php echo $this->translate('title'); ?></title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <?php include_once 'css.phtml'; ?>
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <?php echo $this->content; ?>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" defer></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous" defer></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.2/vue.min.js" defer></script>
        <script src="<?php echo $this->url('home'); ?>js/myJS.js" onLoad="init();" defer></script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script type="text/javascript">
            $(document).ready(function(){
                var num = 0;
                numberPlus(num, 0);
                $('#number').on('click', function(){
                    num += 1;
                    numberPlus(num, 1);
                });
            });
            
            function numberPlus(numb, chk){
                $.post("test/finding", {x: numb}, function(data){
                    var jdata = JSON.parse(data);
                    if(chk == 0) {
                       $('#show').append(jdata.items); 
                    } else {
                        $('#show').append(', '+jdata.items); 
                    }
                    
                    console.log(jdata);
                });
            }
            
        </script>

    </body>
</html>
<?php echo $this->inlineScript(); ?>